In [39]:
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier, plot_tree
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, confusion_matrix
import matplotlib.pyplot as plt
from data_utils import get_clean_data, get_smote_data
from collections import Counter
import numpy as np
import seaborn as sns

In [28]:
X,y = get_smote_data()
X_non, y_non = get_clean_data()
data = pd.read_csv("healthcare-dataset-stroke-data.csv")
# data = data.dropna()
# X = data.drop(columns=["id", "stroke"])
# y = data["stroke"].to_list()
# dummied_X = pd.get_dummies(X)

In [29]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [30]:
decision_tree = DecisionTreeClassifier()
decision_tree.fit(X_train, y_train)
y_pred_dt = decision_tree.predict(X_test)
dt_accuracy = accuracy_score(y_test, y_pred_dt)

In [31]:
dt_accuracy

0.9218085106382978

In [32]:
rf = RandomForestClassifier(n_estimators=10)
rf.fit(X_train, y_train)
y_pred_rf = rf.predict(X_test)
rf_accuracy = accuracy_score(y_test, y_pred_rf)

In [33]:
print(rf_accuracy)

0.9414893617021277

In [35]:
confusion_matrix(y_test, y_pred_rf)

array([[913,  70],
       [ 40, 857]])

In [36]:
# y_test.count(0)

In [37]:
# y_pred_rf = rf.predict(X_test_non)
# rf_accuracy = accuracy_score(y_test_non, y_pred_rf)

In [38]:
print(rf_accuracy)
cf_matrix = confusion_matrix(y_test, y_pred_rf)

0.9414893617021277

In [42]:
group_names = ['True Neg','False Pos','False Neg','True Pos']
group_counts = ["{0:0.0f}".format(value) for value in
                cf_matrix.flatten()]
group_percentages = ["{0:.2%}".format(value) for value in
                     cf_matrix.flatten()/np.sum(cf_matrix)]
labels = [f"{v1}\n{v2}\n{v3}" for v1, v2, v3 in
          zip(group_names,group_counts,group_percentages)]
labels = np.asarray(labels).reshape(2,2)
sns.heatmap(cf_matrix, annot=labels, fmt='', cmap='Blues')

TypeError: unsupported format string passed to numpy.ndarray.__format__

In [19]:
y_test_non.count(1)

42

In [20]:
X_non.bmi

0       36.6
2       32.5
3       34.4
4       24.0
5       29.0
        ...
5104    18.6
5106    40.0
5107    30.6
5108    25.6
5109    26.2
Name: bmi, Length: 4909, dtype: float64

In [21]:
data[np.isnan(data["bmi"])]

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
8,27419,Female,59.0,0,0,Yes,Private,Rural,76.15,NaN,Unknown,1
13,8213,Male,78.0,0,1,Yes,Private,Urban,219.84,NaN,Unknown,1
19,25226,Male,57.0,0,1,No,Govt_job,Urban,217.08,NaN,Unknown,1
27,61843,Male,58.0,0,0,Yes,Private,Rural,189.84,NaN,Unknown,1
...,...,...,...,...,...,...,...,...,...,...,...,...
5039,42007,Male,41.0,0,0,No,Private,Rural,70.15,NaN,formerly smoked,0
5048,28788,Male,40.0,0,0,Yes,Private,Urban,191.15,NaN,smokes,0
5093,32235,Female,45.0,1,0,Yes,Govt_job,Rural,95.02,NaN,smokes,0
5099,7293,Male,40.0,0,0,Yes,Private,Rural,83.94,NaN,smokes,0
5105,18234,Female,80.0,1,0,Yes,Private,Urban,83.75,NaN,never smoked,0

In [22]:
type(data["bmi"][1])

numpy.float64

In [23]:
data[np.isnan(data["bmi"])]['stroke'].count()

201

In [24]:
data["stroke"].sum()/len(data.stroke)

0.0487279843444227

In [25]:
y_non.count(1)

209

In [26]:
y_non.count(1)/len(y_non)

0.04257486249745366